.sign-in
{
    width: 20vw;
    position: relative;
    left: -14em;

    .title
    {
        margin-bottom: 20px;
    }

    .buttons
    {
        display: flex;
        justify-content: space-between;
        
    }
}

