.sign-in
{
    width: 30vw;
    position: relative;
    top: 5em;
    left: 20em;

    .title
    {
        margin-bottom: 20px;
    }

    .buttons
    {
        display: flex;
        justify-content: space-between;
        
    }
}

