.checkout-page
{
    width: 55%;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px auto;

    .checkout-header
    {
        width: 100%;
        height: 40px;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid darkgray;

        .header-block
        {
            text-transform: uppercase;
            width: 23%;

            &:last-child
            {
                width: 8%;
            }
        }
    }

    

}

