.header
{
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;

   

    .options
    {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        
    }
    
    .option
    {
        padding: 10px 15px;
        cursor: pointer;
    }

}
